
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/crudBooks.js"></script>
    <style>
        td {
            width: 200px;
        }

        th {
            text-align: left;
        }

        table, th, td {
            border-collapse: collapse;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <a th:href="@{/logout}">Logout</a>

    <h1>Books:</h1>

    <table id="BooksTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <hr/>

    <form>
        Name: <input type="text" id="name"/>
        Author:
        <select name="author" id="author">
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
        </select>
        ISBN: <input type="text" id="isbn"/>
        Genre: <input type="text" id="genre"/>
        Price: <input type="text" id="price"/>
        Quantity: <input type="text" id="quantity"/>
        <button id="create">Create</button>
        <button id="update">Update by ISBN</button>
    </form>

    <hr/>

    <form>
        Delete book by ISBN: <input type="text" id="delName"/>
        <button id="delete">Delete</button>
    </form>

    <hr/>
    <a th:href="@{/authors/create}">Create Author</a>

    <hr/>
    <form>
        Ask Google! <br />
        Name: <input type="text" id="googleName"/>
        <button id="findByGoogle">Ask for suggestions!</button>
        Save by ISBN: <input type="text" id="googleISBN"/>
        <button id="saveByGoogle">Save suggestion</button>
    </form>

    <hr/>

    <form>
        Generate Out-of-stock report <br />
        <select name="report" id="report">
            <option value="csv">CSV</option>
            <option value="pdf">PDF</option>
        </select>
        <button id="generateReport">Generate report!</button>
    </form>

</body>
</html>